{% extends 'adminLayout.html.twig' %}
{% block title %}
	{{ parent() }}
	- Liste des tissus
{% endblock %}
{% block content %}
	<div class="container d-flex flex-column align-items-end mx-auto">
  <div class="d-flex col-8 col-md-8 flex-row justify-content-between align-self-center mt-3 align-items-center">
	<h2 class="addClothTitle">Tissus</h2>
		<a href="/admin/cloth/add" class="btn d-flex btn-md justify-content-around align-items-center align-self-end">
			<img class="svg" src="/assets/images/round-add-button.svg" height="16px" width="16px">Ajouter</img>
	</a>
  </div>
	<ul class="list-group col-8 col-md-8 mx-auto mt-1">
		{% for clothItem in clothItems %}
    <a href="/admin/cloth/edit?id= {{ clothItem.id }}"
			<li class="list-group-item my-1 border-0 bg-primary text-dark shadow-sm">{{ clothItem.name }}</li>
    </a>
		{% endfor %}
	</ul>
</div>{% endblock %}
