{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/tips.css">
{% endblock %}
{% block content %}

	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">Bienvenue chez Tissus Jaurès</h1>
	</div>
	<section>
		<div class="container">
			<div class="row mt-3 d-flex flex-column align-items-center justify-content-center">
				<div class="monthlyTip p-0  bg-primary w-50">
					<h2 class="title mt-4 mb-4 d-flex justify-content-center">Astuce du mois</h2>
					{% for tip in tips %}
						<div class="monthlyText d-flex justify-content-center ms-4">
							<img class="img me-4 p-2" src="{{ tip.image }}" alt="ourlet">
							<div class="textTip d-flex flex-column align-items-start p-2">
								<h3 class="monthlyTitle p-0">{{ tip.name  }}</h3>
								<p class="textMonthly">{{ tip.content }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
