{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/tips.css">
{% endblock %}
{% block content %}
    <main class="container-fluid">
        <h1>Connexion</h1>
    </main>
{% endblock %}