{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/lexique.css">
{% endblock %}
{% block content %}
	<main>
		<div class="container-fluid">
			<div class="container-fluid d-flex justify-content-center align-items-center header">
				<h1 class="d-flex justify-content-center text-light fs-header-font-size ff-header-font">Lexique</h1>
			</div>
			<div class="container categories mt-3">
				<div class="row justify-content-center">
					{% for tipCategory in tipCategories %}
						<div class="col-lg-3 mt-1 w-25">
							<a href='{{ tipCategory.link }}' class="btn btn-lg w-100 m-1 bg-primary categories">{{ tipCategory.name }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="row mt-3 d-flex flex-column align-items-center justify-content-center">
				<div class="lexique-content p-3  bg-primary w-75">
					{% for lexicon in lexicons %}
						<p class="text-dark d-flex flex-column">
							<strong>{{lexicon.name}}</strong>
							{{lexicon.definition}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
