{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid header">
    <h1 >Hello Wilder !</h1> </div>
    <div class="container-fluid">
    <h2 class="d-flex justify-content-center">Notre boutique </h2>
{% endblock %}
