{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}
{% block content %}
	<div class="container-fluid d-flex justify-content-center align-items-center header">
		<h1 class="text-light">Nos produits</h1>
	</div>
	<div class="container cards-products mt-3">
		<section id="products">
			<h2 class="d-flex justify-content-center text-dark mb-3">Catégories
			</h2>
			<div class="row mb-4">
				{% for clothCategory in clothCategories %}
					<div class="col-lg-3 mb-2 mx-auto">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/535/200/150" class="card-img-top" alt="{{ cloth.name }}">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark mb-4">{{ clothCategory.name }}</h5>
								<a href="/tissus"class="btn text-light bg-secondary position-absolute bottom-0 end-0 m-2">Découvrir</a>
						</figure>
					</div>
				{% endfor %}
				{% for machineCategory in machineCategories %}
					<div class="col-lg-3 mb-2 mx-auto">
						<figure class="card h-100">
							<img src="https://picsum.photos/id/885/200/150" class="card-img-top" alt="{{ machine.name }}">
							<div class="card-body bg-primary">
								<h5 class="card-title text-dark">{{ machineCategory.name }}</h5>
								<a href="/tissus"class="btn text-light bg-secondary position-absolute bottom-0 end-0 m-2">Découvrir</a>
						</figure>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
