{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}
{% block content %}
	<div class="container">
		<form method="POST">
			{% if errors is not empty %}
				<div class="alert alert-danger">
					{% for error in errors %}
						<p>{{error}}</p>
					{% endfor %}
				</div>

			{% elseif errors is not empty %}
				<p>
					Le message a bien été envoyé.</p>
			{% endif %}
			<h1 class="d-flex justify-content-center mt-2 text-dark fs-title-font ff-title-font">Formulaire de contact
			</h1>
			<div class="row">
				<div class="col-lg-6 col-md-12 mt-2 ">
					<label for="firstname" class="form-label mt-2 text-dark fs-font-size">Prénom</label>
					<input type="text" name="firstname" id="firstname" class="form-control border-0" placeholder="Jean">
				</div>
				<div class="col-lg-6 col-md-12 mt-2">
					<label for="lastname" class="form-label mt-2 text-dark fs-font-size">Nom</label>
					<input type="text" name="lastname" id="lastname" class="form-control border-0" placeholder="Dupond">
				</div>

				<div class="col-lg-6 col-md-12 mt-2">
					<label for="phone" class="form-label mt-2 text-dark fs-font-size">Téléphone</label>
					<input type="text" name="phone" id="phone" class="form-control border-0" placeholder="0610506080">
				</div>
				<div class="col-lg-6 col-md-12 mt-2">
					<label for="email" class="form-label mt-2 text-dark fs-font-size">Mail</label>
					<input type="text" name="email" id="email" class="form-control border-0" placeholder="adresse.mail@hotmail.fr">
				</div>
				<div class="sendMessage mt-2">
					<label for="object" class="form-label mt-2 text-dark fs-font-size">Objet</label>
					<select name="object" id="object" class="form-select mb-1 border-0">
						<option>Information</option>
						<option>Cours</option>
						<option>Devis</option>
						<option>Autre</option>
					</select>
				</div>
				<div class="d-flex justify-content-center">
					<textarea name="message" id="message" rows="8" cols="936" class="p-2 border-0" placeholder="Votre message..."></textarea>
				</div>
				<div class="d-flex justify-content-center mt-3">
					<button type="submit" id='submit' class="btn btn-primary bg-secondary border-0 p-4 fs-4">Envoyer</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
