{% extends 'layout.html.twig' %}

{% block content %}
	{# TODO : manage errors display #}

	<form method="POST">
		<form>

			<legend>Formulaire</legend>
			<div class="mb-3">
				<label for="firstname" class="form-label">Prénom</label>
				<input type="text" id="firstname" class="form-control" placeholder="prénom">
			</div>
			<div class="mb-3">
				<label for="lastname" class="form-label">Nom</label>
				<input type="text" id="lastname" class="form-control" placeholder="nom">
			</div>
			<div class="mb-3">
				<label for="phone" class="form-label">Téléphone</label>
				<input type="text" id="phone" class="form-control" placeholder="0610506080">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Mail</label>
				<input type="text" id="email" class="form-control" placeholder="adresse.mail@hotmail.fr">
			</div>
			<div class="mb-3">
				<label for="object" class="form-label">Objet</label>
				<select id="object" class="form-select">
					<option>Information
					</option>
					<option>Cours</option>
					<option>Devis</option>
					<option>Autre</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="message" class="form-control">Message</label>
				<textarea name="message" id="message" cols="30" rows="10" required></textarea>
				<button type="submit" id='submit' class="btn btn-primary">Envoyer</button>

			</form>
		</form>
	{% endblock %}
