.icon-footer {
    width: 28px;
    height: 28px;
    fill: var(--bs-secondary);
}

.title-footer {
    height: 42px;
}

.title-footer h3 {
    font-family: var(--title-font);
}

.InRegardsTo {
    font-size: var(--font-size-footer);
    font-family: var(--text-font);
}

.button-facebook {
    border: none;
    border-radius:1rem;
    opacity: 100%;
    width: 4rem;
    height: 4rem;
}

.button-facebook:hover {
    opacity: 90%;
}

.button-top {
    border: none;
    border-radius:0.6rem;
    opacity: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

.button-top:hover {
    opacity: 90%;
}

.icon-facebook {
    fill: var(--bs-light);
    width: 2rem;
    height: 2rem;
}

.icon-top {
    fill: var(--bs-light);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.icon-phone {
    width: 1rem;
    height: 1rem;
    fill: var(--bs-secondary);
}

.icon-adress {
    width: 1rem;
    height: 1rem;
    fill: var(--bs-secondary);
}

tbody {
    border-color: var(--bs-secondary);
}

th {
    width: 50%;
    font-size: var(--font-size-link);
    font-family: var(--title-font);
}

td {
    font-size: var(--font-size);
    font-family: var(--text-font);
}

th,
td {
    letter-spacing: 2px;
}

.close {
    color: var(--bs-secondary);
}

.map {
    width: 100%;
    height: 65%;
}

.map-md{
    height:79%;
}