.header {
    background-image: url("../images/headermain.jpeg");
    background-position: 83% 100%;
    height: 400px;
}

.header h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    text-shadow: 2px 2px var(--bs-dark);
}

h2 {
    font-family: var(--header-font);
    font-size: var(--title-font-size);
}

div.title {
    background-color: var(--bs-secondary);
    width: fit-content;
    outline: 1.5px dashed var(--bs-light);
    outline-offset: -6px;
}

h3.slogan {
    font-family: var(--header-font);
    font-size: calc(var(--title-font-size) - 4px);
}

h5.card-title {
    font-size: calc(var(--font-size) + 8px);
}

div .boutique-description {
    font-family: var(--text-font);
    font-size: var(--font-size);
}

.boutique-img {
    box-shadow: var(--shadow); 
}

.btn {
    opacity: 90%;
}

.btn:hover {
    opacity: 100%;
}

.card {
    box-shadow: var(--shadow);
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -6px;
}

.card-title {
    font-size: calc(var(--title-font-size) - 4px);
    font-family: var(--header-font);
}

.card-text {
    font-size: var(--font-size);
    font-family: var(--text-font);
}
