* {
    font-family: var(--text-font);
}

.header {
    background-image: url("../images/lexiques/Base_couture_rouge.webp");
    background-position: bottom;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    text-shadow: 2px 2px var(--bs-dark);
}

.categories {
    width: 19rem;
}

.btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
    opacity: 90%;
}

.btn:hover {
    color: var(--bs-secondary);
    opacity: 100%;
}

.lexiconContent{
    box-shadow: var(--shadow);
    border-radius: 0.3rem;
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -6px;
}

.lexicon {
    font-size: var(--font-size);
}