.navbar{
    font-family: var(--text-font);
    font-size: var(--font-size-link);
    outline: 1.5px dashed var(--bs-light);
}

.navbar-dark .navbar-brand{
    color: var(--bs-light);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight);
}

.navbar-dark .navbar-brand:hover{
    color: var(--bs-dark);
}

.navbar-dark .navbar-nav .nav-link{
    color: var(--bs-light);
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: var(--bs-dark);
}

.navbar-dark .navbar-toggler{
    color:transparent;
    border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 251, 245)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
