.navbar{
    font-family: var(--text-font);
    font-size: var(--font-size);
}

.navbar-light .navbar-brand{
    color: var(--light);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight);
}
.navbar-light .navbar-brand:hover{
    color: var(--dark-color);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--light);
}

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--dark-color);
}





