.header {
    background-image: url("../images/headerproducts.jpeg");
    background-position: 80% 48%;
    height: 300px;
}

.btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
}

.btn:hover {
    color: var(--bs-secondary);
}


