body {
    box-sizing: border-box;
}
.header {
    background-image: url("../images/headerproduits.jpeg");
    height: 300px;
}

.header h1 {
    --product-header-font-size: calc(var(--header-font-size) - 20px);
    font-family: var(--header-font);
    font-size: clamp(1.5rem, var(--product-header-font-size), 6rem); 
    text-shadow: 2px 2px var(--bs-dark);
}

h2 {
    font-family: var(--header-font);
    font-size: var(--title-font-size);
}

div.title {
    width: fit-content;
    outline: 1.5px dashed var(--bs-light);
    outline-offset: -6px;
}

h3 {
    font-family: var(--header-font);
    font-size: calc(var(--title-font-size) - 4px);
}

.btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
    font-size: var(--font-size);
    opacity: 90%;
}

.btn:hover {
    color: var(--bs-secondary);
    opacity: 100%;
}

.btn-cat:hover {
    background-color: var(--bs-secondary);
    transform: initial;
}

.search {
    box-shadow: var(--shadow);
}

.search-btn {
    box-shadow: var(--shadow);
}

.search-form {
    max-width: 300px;
}

.card {
    box-shadow: var(--shadow);
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -6px;
}

.card-title {
    font-size: calc(var(--title-font-size) - 4px);
    font-family: var(--header-font);
}

.card-title.fabric {
    text-shadow: 1px 1px 1px var(--bs-light);
    border-bottom: 1px solid var(--bs-secondary-dark);
    width: 100%;
}

.card-text {
    font-size: var(--font-size);
    font-family: var(--text-font);
}

.price {
    font-size: var(--font-size);
    box-shadow: var(--shadow);
}

.search-items {
    height: 24rem;
}

.card-img-top {
    object-fit: cover;
}

.h-60 {
    height: 60%;
}

.product-cards {
    height: 400px;
    width: 320px;
}

.categories {
    width: 22rem;
}