@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lora:wght@400;500;600&family=Merriweather:wght@300;400;900&display=swap');
@import url('navbarStyle.css');
@import url('footer.css');
:root {
    --bs-primary-rgb: 255, 244, 226;
    --bs-primary: #FFF4E2;
    --bs-secondary-rgb: 245, 86, 81;
    --bs-secondary:#f55651;
    --bs-light-rgb:255, 251, 245;
    --bs-light:#fffbf5;
    --bs-dark-rgb: 77, 60, 60;
    --bs-dark:#4d3c3c;
    --shadow-color: rgba(77, 60, 60, 0.2);
    --admin-color: #6F4494;
    --header-font: 'Kotta One', serif;
    --text-font: 'Lora', serif;
    --title-font: 'Merriweather', serif;
    --font-size: 18px;
    --font-size-link:22px;
    --header-font-size: 96px;
    --title-font-size: 36px;
    --font-size-nav: 28px;

    --font-size-footer: 20px;
    --font-size-table:22px;

    --spacing:8px;
    --spacing2:calc(--spacing * 2);
    --spacing3:calc(--spacing * 3);
    --spacing4:calc(--spacing * 4);
    --spacing5:calc(--spacing * 5);

    --shadow: 2px 1px 4px var(--shadow-color);

    --line-height: 1.5;
}

main {
    background-image: url("../images/textured-stripes.png");
}