.header {
    background-image: url("../images/tipheader.jpg");
    background-position: bottom;
    height: 300px;
    }
    
    .header h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    text-shadow: 2px 2px var(--bs-dark);
    }
    
    h2 {
    font-family: var(--header-font);
    font-size: var(--title-font-size);
    }
    
    h3 {
    font-family: var(--header-font);
    font-size: calc(var(--title-font-size) - 4px);
    }
    
    .btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
    }
    
    .btn:hover {
    color: var(--bs-secondary);
    transform: scale(1.03);
    }
    
    .card-tip {
    outline: 1.5px dashed var(--bs-secondary);
    outline-offset: -6px;
    }
    
    .title-tip {
    width: fit-content;
    outline: 1.5px dashed var(--bs-light);
    outline-offset: -4px;
    width: 35%;
}

.img-tip{
    height: 38vh;
    width: 38vw;
}

.monthlyTip {
    box-shadow: var(--shadow);
    }
    
    .textTip {
    font-family: var(--title-font); 
    }
    
    .textMonthly {
    font-family: var(--text-font);
    font-size: var(--font-size);
    }
    
    .monthlyTitle {
    font-size: var(--font-size-nav);
    }
    
    .btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
    font-size: var(--font-size);
    }
    
    .btn:hover {
    color: var(--bs-secondary);
    transform: scale(1.03);
    }
    
    .card {
    box-shadow: var(--shadow);
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -6px;
    }
    
    .card-img-top {
    object-fit: cover;
    }
    
    .card-title {
    font-size: var(--font-size-nav);
    font-family: var(--header-font);
    }
    
    .card-text {
    font-size: var(--font-size);
    font-family: var(--text-font);
    }
