.header {
    background-image: url("../images/headerproduits.jpeg");
    height: 300px;
}

.header h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    text-shadow: 2px 2px var(--bs-dark);
}

h2 {
    font-family: var(--header-font);
    font-size: var(--title-font-size);
}

h3 {
    font-family: var(--header-font);
    font-size: calc(var(--title-font-size) - 4px);
}

.btn {
    box-shadow: var(--shadow);
    position: initial;
    font-family: var(--text-font);
}

.btn:hover {
    color: var(--bs-secondary);
    transform: scale(1.03);
}

.tutorial {
    box-shadow: var(--shadow);
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -12px;
}

.card {
    box-shadow: var(--shadow);
    outline: 1.5px dashed var(--bs-dark);
    outline-offset: -6px;
}

.card-title {
    font-size: calc(var(--title-font-size) - 4px);
    font-family: var(--header-font);
}

.card-text {
    font-size: var(--font-size);
    font-family: var(--text-font);
}

.tutorialTitle {
    width: fit-content;
    outline: 1.5px dashed var(--bs-light);
    outline-offset: -6px;
}

.tutorialContent {
    font-family: var(--text-font);
    font-size: var(--font-size);
}

.tutorialImg {
    height: 20vh;
    width: fit-content;
    object-fit: cover;
}

.w-fit-content {
    width: fit-content;
}

.w-60 {
    width: 60vw;
}