
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
		<div class="container-fluid">
			<a class="navbar-brand text-light" href="#">Tissus jaurès</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav ">
					<li class="nav-item me-3">
						<a class="nav-link  active text-light" aria-current="page" href="#">Acceuil</a>
					</li>
					<li class="nav-item dropdown me-3">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Nos produits
						</a>
						<ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item text-primary" href="#">Tissus d'ameublement</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Loisirs créatifs</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Mercerie</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Tissus couture</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Voilage</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Décoration</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown me-3">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Trucs et astuces
						</a>
						<ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a class="dropdown-item text-primary" href="#">Astuce du mois</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Tutoriels</a>
							</li>
							<li>
								<a class="dropdown-item text-primary" href="#">Lexiques</a>
							</li>
						</ul>
					</li>
					<li class="nav-item me-2">
						<a class="nav-link active text-light" aria-current="page" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


