<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vous avez reçu un nouveau message</h1>
    <div>De la part de {{ contact.lastname ~ " " ~ contact.firstname }}</div>
    <div>A propos de : {{ contact.object }} </div>
    <p>{{ contact.message }}</p>
</body>
</html>